body{ width: 100%; height: 100%; background: url(../img/login-bg.jpg); font-family: PingFang SC,Lantinghei SC,'Microsoft YaHei';}
#container{  position: fixed; left: 50%; top: 50%; width: 520px; margin: -290px 0 0 -260px; }
#container h3{ font-size: 42px; font-weight: normal; text-align: center; color: #fff;}
#container h3 span{ color: #fe6c5f;}
#container>p{ margin: 18px 0 50px 0; font-size: 18px; text-align: center; color: #505c6c;}
#container>p span{ display: inline-block; width:130px; height:6px; margin: 0 15px 2px 0; background:url(../img/login-spirit.png) no-repeat 0 0;}
#container>p span.last-line{ margin: 0 0 2px 15px; background-position:0 -13px;}
.login-infor{ width: 520px; height: 424px; background: #fff; border-radius: 3px;}
.login-infor p{ padding: 35px 0 0; margin: 0 0 5px; font-size: 28px; text-align: center;}
.login-infor span{ display: block; font-size: 12px; color: #505c6c; text-align: center;}
.login-infor label{ float: left; width: 48px; height: 38px; margin-bottom: 0; background: #d5dadd; border-top-left-radius: 2px;border-bottom-left-radius: 2px;}
.login-infor label em{ display: inline-block; width:22px; height:22px; margin: 8px 0 0 13px; background:url(../img/login-spirit.png) no-repeat 0 -26px;}
.login-infor input{ width: 352px; height: 38px; line-height: 38px; padding: 0 0 0 19px; background: #fbfbfb; border: 1px solid #e8e8ee; border-left: none;border-top-right-radius: 2px;border-bottom-right-radius: 2px; color: #aeb3b6;}
.login-infor .password label em{ background-position:-28px -26px;}
.login-infor .identifycode label em{ background-position:-52px -26px;}
.login-infor div{ width: 400px; margin: 0 auto; padding: 16px 0 0;}
.login-infor .username{ margin: 12px auto 0;}
.identifycode{ position: relative;}
.identifycode input,.identifycode label{ height: 45px;}
.identifycode input{ line-height: 45px;}
.password label em{margin: 8px 0 0 15px;}
.identifycode label em{ margin: 13px 0 0 13px;}
.identifycode img{ position: absolute; right: 5px; top:20px;}
.login-infor .msg{ height:18px; margin:6px auto 0;}
.login-infor .error{ padding:0px 0px 0px 21px; background:url(../img/login-spirit.png) no-repeat -79px -26px; font-size: 14px; color: #ff5758;}
.login-infor .success{ background-position:-116px -45px;}
.login-btn{ display: block; width: 400px; height: 45px; line-height: 45px; margin: 15px auto 0; padding: 0; background: #f3695d; border: none; border-radius: 2px; font-size: 16px; color: #fff; }